@import '../../../styles/variables';

.show {
  display: flex;
  flex-direction: row;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  padding: 1.25rem;
  align-items: center;

  @media screen and (max-width: $grid__bp-md*1px) {
    flex-wrap: wrap;
  }
  .show-body {
    flex: 1 1 auto;
    margin-left: 10px;
  }
  .show-image {
    height: 180px;
    width: 100%;
    display: block;
    object-fit: cover;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
  }
  .show-title {
    margin-bottom: 0.75rem;
  }
  .show-link {
    display: flex;
    justify-content: flex-end;
  }
}
